@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

html {
    background-color: #424242;
}

.col-sm {
    width: 25%
}

.col-md {
    width: 50%;
}

.col-lg {
    width: 100%;
}

.panel {
    background-color: black;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
}

.panel-filler {
    background-color: #424242;
    color: #FFC727;
}

.mat-stepper-vertical {
    /* background-color: transparent; */
    padding: 10px;
    border-radius: 10px;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: #FFC727 !important;
    color: #000000 !important;
}

mat-form-field {
    color: #FFC727 !important;
}

.mat-focused {
    color: #FFC727 !important;
}

.mat-form-field-ripple {
    background-color: #FFC727 !important;
}

/* Controls cursor color! */
.mat-input-element {
    caret-color: #FFC727 !important;
}

/* The placeholder text */
.mat-form-field-should-float {
    color: #FFC727 !important;
}

h1 {
    color: #FFC727;
}

.competitive {
    color: green !important;
}

.less-comp {
    color:yellow !important;
}

.not-comp {
    color: red !important;
}