@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

html {
    background-color: black;
}

.logo {
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
}

.toolbar {
    display: inline-block;
    width: fit-content;
}

.toolbar-button {
    color: black;
    background-color: #FFC727;
    width: 25% !important;
}

.fiscal-year {
    color: #685D40;
}

.subtext {
    text-align: center;
    margin: 10px;
    color: gray;
}

a {
    color: #FFC727;
}

a:hover {
    color: yellow;
} 

a:active {
    color: yellow;
}

a:visited {
    color: FFC727;
}

button {
    margin: 2px !important;
}

.col-sm {
    width: 25%
}

.col-md {
    width: 50%;
}

.col-lg {
    width: 100%;
}

.center-panel {
    margin-left: 5%;
    margin-right: 5%;
    /* background-color: #424242; */
}

.panel {
    background-color: black;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
}

.panel-filler {
    background-color: #424242;
    color: #FFC727;
}

.mat-stepper-vertical {
    /* background-color: transparent; */
    border-radius: 25px;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: #FFC727 !important;
    color: #000000 !important;
    border-radius: 25px !important;
}

mat-form-field {
    color: #FFC727 !important;
}

.mat-focused {
    color: #FFC727 !important;
}

.mat-form-field-ripple {
    background-color: #FFC727 !important;
}

/* The select arrow */
.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: #FFC727 !important;
}

/* The placeholder field */
.mat-form-field.mat-focused .mat-form-field-label {
    color: #FFC727 !important;
}

/* Select field options */
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #FFC727;
}

/* Controls cursor color! */
.mat-input-element {
    caret-color: #FFC727 !important;
}

/* The placeholder text */
.mat-form-field-should-float {
    color: #FFC727 !important;
}

h1 {
    color: #FFC727;
}

.competitive {
    color: green !important;
}

.less-comp {
    color:yellow !important;
}

.not-comp {
    color: red !important;
}